

h1 {
    text-align: center;
}

.layout {
    display: flex;
    justify-content: center;
}
.clicker {
    text-align: center;
    flex-basis: 80%;
    .cow-container {
        position: relative;
    }
}

img {
    border-radius: 6px;
    user-select: none;
}

@keyframes flyUpFade {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-120px);
        opacity: 0;
    }
}

.flying-text {
    user-select: none;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block; /* Ensures proper transformation */
    font-size: 24px;
    font-weight: bold;
    cursor: pointer; /* Indicate clickable */
}

.animate {
    visibility: visible;
    animation: flyUpFade 1s ease-out forwards;
}